#accordion{
    margin:auto;
    align-content: center;
    width: 50%;
}

.accordion-section{ 
    padding:0.5em;
    text-align: left;
    max-height: 3em;
    background-color: #e0e0d1;
    border-radius: 0.25em;
    width: 100%;
    border: 0.04em solid grey;  
    margin-bottom: 0.2em;
    cursor: pointer;
}

.accordion-section:hover{ 
    background-color: #ccccb3; 
}

.accordion-section span{
    text-align: left;
    font-weight: bold;
    font-size:1.2em;
}

.accordion-section i{
    float: right;
}

.accordion-content{
    padding: 0.5em;
    border: 0.09em solid #e0e0d1;
    margin-top: -0.2em;
    
}

button[aria-expanded='true']{
    background-color: #c2c2a3;
}

div[aria-hidden="true"]{
      display: none;
}

div[aria-hidden="false"]{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0%  {
        opacity: 0;
        }
    100% {
        display: block;
        opacity: 1;
      }
}
